###############################################################################
# {{ ansible_managed }}
#
#  Shorewall Version {{ shorewall_version}} -- /etc/shorewall/shorewall.conf
#
#  For information about the settings in this file, type "man shorewall.conf"
#
#  Manpage also online at http://www.shorewall.net/manpages/shorewall.conf.html
###############################################################################

{% if shorewall_version is version_compare('5.0', '>=') %}
  {% set remove_keys = ( 'chain_scripts', 'inline_matches', 'module_suffix' ) %}
{% endif %}

{% for key,value in shorewall_conf.items()|sort %}
{{ key|upper }}={{ value }}
{% endfor %}
